{%extends 'base.html'%}
{%block title%}Deals{%endblock title%}
{%block content%}

<table>
    <thead class="thead-dark">
    <tr>
        <th>Deal ID</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Start City</th>
        <th>End City</th>
        <th>Deal Price</th>
        <th>Vehicle ID</th>
 {%if user.is_transporter%}
        <th>Actions</th>
         {%endif%}
    </tr>
    </thead>
    <tbody>
{% for deal in deals %}
    <tr>
        <td>{{ deal.deal_id }}</td>
        <td>{{ deal.start_Date }}</td>
        <td>{{ deal.end_date }}</td>
        <td>{{ deal.start_city}}</td>
        <td>{{ deal.end_city }}</td>
        <td>{{ deal.price }}</td>
        <td>{{ deal.vehicle_id }}</td>
        {%if user.is_transporter%}
        <td><a href="{% url 'delete-deal' deal.deal_id %}">Delete</a></td>
        <td><a href="{% url 'edit-deal' deal.deal_id %}">Edit</a></td>
        <td><a href="{% url 'view-query' deal.deal_id %}">View Query</a></td>
        <td><a href="{% url 'view-rating' deal.deal_id %}">View Rating</a></td>
        {%endif%}
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}