{%extends 'base.html'%}

{%block content%}
    {%if user.is_authenticated%}
        <b>Welcome to transportation website</b></body></br>
    {% if user.is_authenticated and user.is_transporter %}
        <a href="{% url 'add-vehicle' %}" > Add Vehicle </a></br>
        <a href="{% url 'create-deal' %}" > Create Deal </a></br>

    {%endif%}
        <a href ="{% url 'edit-profile' user.id%}">Edit Profile</a></br>
        <a href="{%url 'vehicle-list'  %}">View Vehicle</a></br>
        <a href="{%url 'deal-list' %}">View Deals</a></br></br>

    {%endif%}
<form action="" method="get">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" value="Search" >
</form>
<table>
{% for deal in deal_lists %}
    <tr>
        <td>{{ deal.deal_id }}</td>
        <td>{{ deal.start_city}}</td>
        <td>{{ deal.end_city }}</td>

{%if user.is_authenticated%}
        <td><a href="{% url 'view-deal' deal.deal_id %}">View</a></td>
        {%endif%}
    </tr>
{% endfor %}
</table>
{%endblock%}



