{%extends 'base.html'%}
{%block title%}Vehicle List{%endblock title%}
{%block content%}

<table>
    <thead class="thead-dark">
    <tr>
        <th>Vehicle ID</th>
        <th>Vehicle Type</th>
        <th>Vehicle model</th>
        <th>Vehicle Color</th>
        <th>Vehicle Manufacturing Year</th>
        <th>Vehicle Capacity</th>
        <th>Vehicle Picture</th>
        <th>Vehicle Document</th>
 {%if user.is_transporter%}
        <th>Actions</th>
                {%endif%}
    </tr>
    </thead>
    <tbody>
{% for vehicle in vehicles %}
    <tr>
        <td>{{ vehicle.id }}</td>
        <td>{{ vehicle.vehicle_type}}</td>
        <td>{{ vehicle.model }}</td>
        <td>{{ vehicle.color }}</td>
        <td>{{ vehicle.man_Year }}</td>
        <td>{{ vehicle.capacity }}</td>
<!--        <td><img src="{{ vehicle.picture.url }}"> </td>-->
        <td><a href="{%url 'view-image' vehicle.id %}">View Image</a></td>
        <td>{{ vehicle.document }}</td>
        <td>
            {%if user.is_transporter%}
            <a href="{%url 'edit-vehicle' vehicle.id %}">Edit</a>
            <a href="{% url 'delete-vehicle' vehicle.id %}">Delete</a>
            {%endif%}
        </td>
    </tr>
{% endfor %}
    </tbody>
</table>
{%endblock%}